<% content_for :title, "Edit #{@event_product.name}" %>


<div class="group justify-between items-center">
  <h3>Edit <%= @event_product.name %></h3>
  <% unless @event_product.order_items.any? %>
    <%= button_to "Delete Product", event_product_path(@event_product),
        form: { data: { turbo_confirm: "Are you sure you want to delete this product?" } },
        method: :delete,
        class: "button secondary" %>
  <% end %>
</div>

<%= render "form", event: @event_product.event, event_product: @event_product %>
