<div class="stack-sm">
  <%# TODO: Hide address/map link if event is delivery_only. %>
  <h2 class="font-heading text-xl"><%= event.name %></h2>

  <% if event.description.present? %>
    <p class="text-lg"><%= event.description %></p>
  <% end %>

  <div class="stack-sm">
    <% if event.location_display.present? %>
      <%= render "application/address_line", model: event, show_full: true %>
    <% end %>
  </div>
</div>
