<section class="card-accent stack-sm">
  <h2><%= event.name %></h2>

  <% if event.description.present? %>
    <p><%= event.description %></p>
  <% end %>

  <div class="stack-sm text-muted text-sm">
    <span><%= pickup_datetime(event.pickup_at) %></span>
    <% if event.location_display.present? %>
      <%= render "application/address_line", model: event, show_full: true %>
    <% end %>
  </div>
</section>
