<%= content_for(:title, "#{@store.name} | Local bakery near me") %>

<% content_for(:meta_description, @store.description.presence || "Order fresh bread and baked goods from #{@store.name}, a local bakery near you. Pre-order and pick up from this neighborhood home baker on LocalBaker.") %>
<% if @store.banner_image.attached? %>
  <% content_for(:og_image, url_for(@store.banner_image)) %>
<% else %>
  <% content_for(:og_image, root_url.chomp("/") + "/baguette-solid.png") %>
<% end %>

<%= render "storefront/store_hero", store: @store %>

<section class="stack">
  <h4>Upcoming Bakes</h4>

  <% if @events.any? %>
    <div class="flex-cols-2">
      <% @events.each do |event| %>
        <%= render "storefront/event_card", event: event, ordered: @ordered_event_ids&.include?(event.id) %>
      <% end %>
    </div>
  <% else %>
    <p class="text-center">No upcoming events scheduled right now. Check back soon!</p>
  <% end %>
</section>

