<% content_for :title, "Edit #{@event_product.name}" %>

<%= render_breadcrumbs([
  { name: @store.name, path: store_path },
  { name: @event.name, path: event_path(@event) }
]) %>

<div class="group justify-between items-center">
  <h2>Edit <%= @event_product.name %></h2>
  <% unless @event_product.order_items.any? %>
    <%= button_to "Delete Product", event_product_path(@event_product),
        form: { data: { turbo_confirm: "Are you sure you want to delete this product?" } },
        method: :delete,
        class: "button danger" %>
  <% end %>
</div>

<%= render "form", event: @event_product.event, event_product: @event_product %>
