<% content_for :title, "#{@event_product.name} — Edit Product" %>
<h2>Edit Product</h2>

<div>
  <%= link_to "Back to event", event_path(@event) %>
</div>

<%= render "form", event: @event_product.event, event_product: @event_product %>
