<% content_for :title, "#{@event.name} — Add Product" %>
<h2>Add Product</h2>

<div>
  <%= link_to "Back to event", event_path(@event) %>
</div>

<%= render "form", event: @event, event_product: @event_product %>
