<header>
  <div class="flex items-center justify-between">
    <%= link_to "bread orders", dashboard_path, style: "text-decoration: none; font-weight: 700;" %>

    <nav class="group items-center group-lg">
      <% if authenticated? %>
        <%= button_to "Sign out", session_path, method: :delete, class: "button-link" %>
      <% else %>
        <%= link_to "Sign in", new_session_path %>
      <% end %>
    </nav>
  </div>
</header>
