<header>
  <div class="flex items-center justify-between">
    <%= link_to dashboard_path, class: "flex items-center", style: "text-decoration: none; color: inherit;" do %>
      <box-icon size="lg" name="baguette"></box-icon>
    <% end %>

    <nav class="group" style="align-items: center; gap: 1.5rem;">
      <% if authenticated? %>
        <%= button_to "Sign out", session_path, method: :delete, class: "button-link" %>
      <% else %>
        <%= link_to "Sign in", new_session_path %>
      <% end %>
    </nav>
  </div>
</header>
